@import "settings";
@import "foundation";
@import "foundation-icons";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
$primary-color: #7f7f7f;

.top-bar {
    height: 36px;
    padding: 0 25px;

    color: #c8c8c8;
    font-size: 0.8em;
    line-height: 36px;

    background-color: #f5f5f5;

    span {
        margin-right: 15px;

        i {
            margin-right: 5px;
        }
    }

    .social-icons {
        position: relative;
        top: 3px;

        font-size: 1.6em;

        a {
            color: #c8c8c8;
        }
    }
}

.page-header {
    .main-content {
        height: 120px;
        padding: 0 25px;
    }

    .page-logo {
        margin-top: 26px;
    }
}

.primary-nav {
    padding-top: 50px;

    a {
        color: $primary-color;
    }

    .search-bar {
        padding-left: 40px;
    }
}
